{% extends "base/base.html" %}


{% block start %}

</br>
<div class="container">

					<div class="card">
						<div class="card-body d-flex">
							<div class="form-inline d-inline-flex mr-auto">
								<labe>Sort By:
								<select class="ml-2 form-control">
									<option>Low to high</option>
									<option>High to low</option>
								</select>
							</labe></div>
							<div class="btn-group" role="group" aria-label="Filter by">
							  <button type="button" class="btn btn-outline-primary active">Featured</button>
							  <button type="button" class="btn btn-outline-primary">New Items</button>
							  <button type="button" class="btn btn-outline-primary">On Sale</button>
							</div>
						</div>
					</div>


						<div class=" mt-5 pt-5">
							<div class="row">

								<div class="col-md-3">
									<div class="card mb-3">
										<div class="card-body">
											<h5 class="card-title">Categories</h5>
											<ul class="list-menu">
												<li><a href="#">People <span class="badge badge-pill badge-light float-right">120</span> </a></li>
												<li><a href="#">Watches <span class="badge badge-pill badge-light float-right">42</span> </a></li>
												<li><a href="#">Cinema <span class="badge badge-pill badge-light float-right">16</span> </a></li>
												<li><a href="#">Clothes <span class="badge badge-pill badge-light float-right">87</span> </a></li>
												<li><a href="#">Home items <span class="badge badge-pill badge-light float-right">34</span></a></li>
												<li><a href="#">Animals <span class="badge badge-pill badge-light float-right">7</span></a></li>
												<li><a href="#">People <span class="badge badge-pill badge-light float-right">12</span></a></li>
											</ul>
										</div>
									</div>


									</div>
								<!-- Products -->
									<div class="col-md-9">
										<div class="row">
                                          {% for product in products %}
                                          <div class="col-md-4">
									<figure class="card card-product-grid">
										<div class="img-wrap"> <img src="/media/{{product.product_images.first.image}}"> </div>
										<figcaption class="info-wrap border-top">
											<a href="{% url 'get_product' product.slug %}" class="title">{{product.product_name}}</a>
											<div class="price mt-2">${{product.price}}.00 <a type="button" href="{% url 'checkout' %}" class="btn btn-success btn-sm float-right">Add to cart</a> </div> <!-- price-wrap.// -->
										</figcaption>
									</figure>
								</div>
                                          {% endfor %}
										</div>
									</div>
							</div>
						</div>
</div>

{% endblock %}


